h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.container-fluid {
  margin: 10px 50px;
}

@media (min-width: 600px ) {
  .row {
      position: relative;
  }

  .bottom-align-text {
    position: absolute;
    bottom: 15px;
    right: 20px;
  }
}
