<div class="container-fluid">
    <div class="row" id="search-form">
        <div class="col-md-9 col-sm-12">
            <div class="form-group">
                <label for="search-term">Search Term</label>
                <input type="text" class="form-control" id="search-term" [(ngModel)]="searchTerm">
            </div>
        </div>
        <div class="col-md-3 col-sm-12 bottom-align-text">
            <button class="btn btn-default btn-block" id="search-button" (click)="search()">Search</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 results-header">
            <h2>Results</h2>
        </div>
    </div>
    <div class="row hidden-sm hidden-xs">
        <div class="col-md-6">
            <h3>Name</h3>
        </div>
        <div class="col-md-6">
            <h3>Email</h3>
        </div>
    </div>
    <div class="row hidden-sm hidden-xs">
        <div class="col-md-12">
            <hr>
        </div>
    </div>
    <div class="user-list">
        <div class="row user-row" *ngFor="let user of displayUsers">
            <div class="background-wrapper">
                <div class="col-md-6 left-cell">{{user.name}}</div>
                <div class="col-md-6 right-cell">{{user.email}}</div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="showFooter">
        <div class="col-md-12">
            <div class="pull-right">
            {{displayUsers.length}} users out of {{users.length}} matched the search term '{{processedSearchTerm}}'
            </div>
        </div>
    </div>
</div>