label {
    font-size: 1.5em;
    font-weight: normal;
}

input {
    height: 46px;
    border: 2px solid black;
    font-size: 1.5em;
}

button {
    font-size: 1.5em;
    border: 2px solid black;
    background: linear-gradient(white, lightgray)
}

hr {
    margin-top: 5px;
    margin-bottom: 15px;
    border-top: 2px solid black;
}

.background-wrapper {
    margin: auto 15px;
}

.background-wrapper .left-cell {
    margin-left: -15px;
}

.background-wrapper .right-cell {
    margin-left: 15px;
}

.user-list .user-row:nth-child(even) .background-wrapper {
    background-color: rgb(240, 240, 240);
    overflow: auto;
}

.left-cell, .right-cell {
    font-size: 1.5em;
    margin-top: 5px;
    margin-bottom: 5px;
}

@media (max-width: 599px ) {
    .results-header {
        text-align: center;
    }

    .background-wrapper .right-cell {
        margin-left: -15px;
    }

    .left-cell, .right-cell {
        line-height: 1.1em;
    }
    
    .left-cell {
        margin-top: 10px;
    }
    
    .right-cell {
        margin-bottom: 10px;
    }
}
